@tailwind base;
@tailwind components;
@tailwind utilities;

/* 覆盖默认滚动条样式 (可选，为了极简) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #333;
}
